/* Base */
@import 'base/normalize'
@import 'base/variables'
@import 'base/base'

/* Components */
@import 'components/carousel'

/* Layout */
@import 'layout/home'
@import 'layout/header'
@import 'layout/footer'
