.carousel-users
  display flex
  padding-top 1rem
  flex-flow row nowrap
  justify-content center

.user
  margin 1rem
  position relative
  overflow hidden

  &:hover .user-info
    transform translateY(0)

  img
    display block

  .user-info
    left 0
    right 0
    font-size 1em
    position absolute
    bottom 0
    background rgba(black, 0.7)
    color white
    display flex
    flex-direction column
    padding 0.6em 1em
    line-height 1.3
    transform translateY(100%)
    transition transform 0.2s ease-in-out
    will-change transform
